.hero {

    &__overlay {
        padding: 118px 0;
        max-width: 1600px;
        margin: 0 auto;

        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../../image/hero1200.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--hero-fon-color);
        text-align: center;
        background-size: cover;
        object-fit: cover;

        @media screen and (min-width:1200px) and (min-device-pixel-ratio: 2) {
            padding: 200px 0;
                    background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../../image/hero1200@2x.jpg);
        
        }

    }

    &__title {
        margin: 0 auto 30px;
        width: 360px;

        color: var(--white-text-color);
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        @media screen and (min-width:1200px) {
            width: 696px;
            font-size: 44px;
            line-height: 1.36;

        }
    }
}

