
.page-header {
    border-bottom: 1px solid var(--border-header-color);  

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 767px) {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }

    &__logo {

        @media screen and (min-width: 768px) {
            padding: 26px 0;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 93px;
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__nav-list {
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__nav-item {
        @media screen and (min-width: 768px) {
            position: relative;
        }

        & + .page-header__nav-item {
            @media screen and (min-width: 768px) {
                margin-left: 50px;
            }
    }
    }
    

    &__nav-link {
        display: block;
        padding-bottom: 32px;
        color: var(--secondary-text-color);
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition: color 250ms var(--cubic-bezier);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        @media screen and (min-width: 768px) {
            padding-top: 32px;
            padding-bottom: 32px;
            font-size: 14px;
            line-height: 1.14;
        }
    }

    &__nav-link--current {
        color: var(--accent-color);

        @media screen and (min-width: 768px) {
            position: relative;
            

            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 4px;
                background-color: var(--accent-color);
                border-radius: 2px;
            }
        }
    }

    &__adress-nav {

        @media screen and (max-width: 767px) {
            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-direction: column-reverse;
            margin-top: auto;
            margin-bottom: 64px;
        }
        @media screen and (min-width: 767px) and (max-width: 1199px) {
            margin-left: 84px;
            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-direction: column;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 305px;
            display: flex;
            justify-content: start;
            align-items: center;
            height: 100%;
        }
    }

    &__adress-item {
        @media screen and (max-width: 767px) {
            // margin-bottom: 32px;
        }

        & + .page-header__adress-item {
            @media screen and (min-width: 768px) and (max-width: 1199px) {
                margin-top: 10px;
            }

            @media screen and (min-width: 1200px) {
                margin-left: 50px;
                height: 100%;
            }
        }
    }

    &__adress-link {
        display: flex;
    
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        text-decoration: none;
        align-items: center;
        transition: color 250ms var(--cubic-bezier);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
        @media screen and (min-width: 768px) {
            padding: 0;
            font-size: 12px;
            line-height: 1.16;
        }
        @media screen and (min-width: 1200px) {
            padding: 32px 0;
            font-size: 14px;
            line-height: 1.14;
        }
    }
    &__adress-link--big {
        @media screen and (max-width: 768px) {
            color: var(--accent-color);
            font-size: 34px;
            padding-bottom: 32px;
        }
        
    }

    &__adress-contacts {
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
            margin-right: 10px;
            fill: currentColor;
        }
    }

    &__network {
        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__network-list {
        display: flex;
        flex-wrap: wrap;
    }

    &__network-link {
        display: flex;
        text-decoration: none;
        // padding-top: 32px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--accent-color);

        &--line::after {
            display: block;
            content: "";
            width: 1px;
            height: 22px;
            background-color: rgba(33, 33, 33, .2);
            margin: 0px 10px;
        }
        @media screen and (min-width: 768px) {
            display: none;
        }
    }


.menu-mobile-btn {
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
            display: none;
        }
}
.menu-container {

    @media screen and (max-width: 767px) {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-fon-color);
        overflow-y: scroll;
        z-index: 10;
    }
}

.menu-container.is-open {
    @media screen and (max-width: 767px) {
        display: block;
    }

}
.menu-mobile {

    @media screen and (max-width: 767px) {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding: 48px 40px;
        max-width: 480px;
        height: 100%;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
.mobile-close-btn {
    position: absolute;
    top: 8px;
    right: 15px;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }
}


.icon-menu {
    fill: var(--icon-black-color);
    transition: fill 250ms var(--cubic-bezier);
}
.menu-mobile-btn:hover .icon-menu,
.menu-mobile-btn:focus .icon-menu {
    fill: var(--accent-color);
}

.icon-cross {
    fill: var(--icon-form-color);
    transition: fill 250ms var(--cubic-bezier);
}

.mobile-close-btn:hover .icon-crose,
.mobile-close-btn:focus .icon-crose {
    fill: var(--accent-color);
}

}