.page-footer {

    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--third-fon-color);


    &__info {
        @media screen and (max-width: 1200px) {
            text-align: center;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;
            text-align: start;
        }
    }

    &__tablet {

        @media screen and (min-width:768px){
            display: flex;
            margin-bottom: 60px;
            justify-content: space-around;
            align-items: baseline;
        }

        @media screen and (min-width: 1200px){
            margin: 0;
        }
    }

    &__logo--white {
        display: block;
        margin-bottom: 20px;
        color: var(--white-text-color);
    }

    &__adress-list {
        @media screen and (max-width: 768px) {
            margin-bottom: 60px;
        }
        @media screen and (min-width: 1200px) {
            width: 223px;
        }
    }

    &__adress-item:not(:last-child) {
        margin-bottom: 9px;
    }

    &__adress-link {
        color: var(--white-text-color);
        font-style: normal;
        text-decoration: none;

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    &__adress-link--grey {
        color: var(--footer-adress-color);
        font-style: normal;
        text-decoration: none;
        transition: color 250ms var(--cubic-bezier);
    }

    &__social-link {

        @media screen and (max-width: 768px) {
            margin-bottom: 60px;
        }
        @media screen and (min-width: 1200px) {
            margin-left: 70px;
            max-width: 206px;
        }
    }

    &__title {
        display: block;
        margin-bottom: 20px;
        color: var(--white-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }

    &__join {
        @media screen and (min-width: 1200px) {
            margin-left: auto;
            width: 570px;
        }
    }
}


.join {

    &__form {
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
        }
    }

    &__mail-input {

        padding-left: 16px;
        width: 100%;
        max-width: 450px;
        height: 50px;

        color: var(--footer-adress-color);
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.25;

        @media screen and (max-width: 1200px) {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
    }


        @media screen and (min-width: 1200px) {
            margin: 0;
            margin-right: 12px;
            min-width: 358px;
        }

        &::placeholder {
            color: var(--footer-adress-color);
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
        }
    }
}

