.work {

    &__title {
        margin-top: 0;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
    }

    &__box {
        max-width: 370px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__card {
        display: flex;
        position: relative;
    }

    &__label {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(47, 48, 58, 0.8);
    }

    &__text {
        margin: 0;
        padding-top: 27px;
        padding-bottom: 27px;

        color: var(--white-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
    }

    @media screen and (max-width: 1199px) {
        display: none;
    }
}